@import "assets/styles/colors.scss";

.product-detail {
  border: 1px solid $gray-color;
  padding: 64px 24px;
  box-shadow: 0 0 16px 16px $gray-color;

  &__image {
    width: 100%;
    height: 400px;
    border-radius: 8px;

    object-fit: cover;
    object-position: center;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__left {
    width: 70%;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__price {
    color: $red-color;
    font-size: 2rem;

    margin-bottom: 14px;

    span {
      margin-right: 8px;
    }
  }

  &__description {
    font-size: 1.4rem;
    margin-bottom: 14px;
  }

  &__right {
    button {
      color: $red-color;
      font-weight: 500;
      font-size: 1.4rem;
      background-color: transparent;

      padding: 8px 10px;
      border: 1px solid $red-color;
      border-radius: 18px;
      transition: all 0.2s linear;

      &:hover {
        background-color: $red-color;
        color: $white-color;
        border: 1px solid $red-color;
      }

      &:active,
      &:focus {
        background-color: transparent;
        color: $red-color;
        border: 1px solid $red-color;
        box-shadow: none;
      }
    }

    i {
      margin-left: 4px;
    }
  }

  &__address {
    color: $red-color;
    font-weight: 500;
  }

  &-user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
      padding-left: 24px;
    }

    &__info {
      display: flex;
      align-items: center;

      div {
        margin-left: 16px;
      }
    }

    &__avatar {
      font-size: 2rem;
      border: 1px solid $black-color;
      border-radius: 50%;
      padding: 8px;
    }

    &__name {
      font-weight: 500;
    }

    a {
      text-decoration: none;
      color: $red-color;
      font-size: 1.4rem;

      padding: 8px;
      border: 1px solid $red-color;
      border-radius: 24px;

      transition: all 0.2s linear;

      &:hover {
        background-color: $red-color;
        color: $white-color;
      }
    }

    &__review {
      margin-top: 16px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      border: 1px solid $gray-color;
      border-radius: 6px;
      padding: 6px 0;
    }

    &__rating,
    &__response {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 1.4rem;

      span {
        margin-top: 6px;
        color: $red-color;
      }

      &:not(:last-child) {
        border-right: 1px solid $gray-color;
      }
    }

    &__contact {
      margin-top: 24px;
    }

    &__phone,
    &__chat {
      padding: 8px 16px;

      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s linear;

      i {
        margin-right: 16px;
      }
    }

    &__phone {
      background-color: #149314;
      color: $white-color;

      &:hover {
        background-color: #1d5a1d;
      }
    }

    &__chat {
      margin-top: 16px;
      border: 1px solid $gray-color;

      &:hover {
        background-color: rgb(209, 209, 209);
      }
    }
  }
}
