@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.info {
  &__heading {
    font-size: $heading-size;
    font-weight: $heading-weight;

    margin-bottom: $heading-content-spacing;
  }

  &__left {
    span {
      font-size: 1.8rem;
      color: $blue-color;
    }

    p {
      margin-top: 20px;
      font-size: 1.4rem;
      line-height: 1.8;
    }

    ul {
      margin-top: 20px;
      list-style-type: square;
      li {
        font-size: 1.4rem;
        margin-top: 10px;
      }
    }

    button {
      margin-top: 24px;
    }
  }

  &__right {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .info {
    &__right {
      margin-top: 32px;
    }
  }
}
