@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.lastest-product-section {
  margin-top: $section-spacing;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $heading-content-spacing;

    font-weight: bold;

    h3 {
      font-size: $heading-size;
      font-weight: $heading-weight;
    }

    a {
      color: $red-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

.banner-section {
  padding-top: 80px;
}

.info-section {
  margin-top: $section-spacing;
}

.purchase-section {
  margin-top: $section-spacing;
}
