@import "assets/styles/colors.scss";

.lastest-product-section {
  margin-top: 100px;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;

    font-weight: bold;

    h3 {
      font-size: 2.8rem;
      font-weight: 400;
    }

    a {
      color: $red-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

.info-section {
  margin-top: 80px;
}

.purchase-section {
  margin-top: 56px;
}
