@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.lastest-product-section {
  margin-top: $section-spacing;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $heading-content-spacing;

    font-weight: bold;

    h3 {
      font-size: $heading-size;
      font-weight: $heading-weight;
    }

    a {
      color: $red-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

.info-section {
  margin-top: $section-spacing;
}

.purchase-section {
  margin-top: $section-spacing;
}

@media only screen and (max-width: 767px) {
  .lastest-product-section {
    &__heading {
      h3 {
        font-size: 2rem;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }
}
