@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.products-section {
  margin: $section-spacing 0;
}

.products-filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: $heading-content-spacing;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-color;

  &__item {
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;

    transition: all 0.25s linear;
    cursor: pointer;

    &.active {
      color: $red-color;
    }
  }
}

.product-list {
  max-height: calc(388px * 3 - 1px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
}

.products-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 24px;

  span {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .products-section {
    margin-top: 48px;
  }

  .products-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;

    &__item {
      margin: 6px 12px;
    }
  }
}
