@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.products-section {
  margin: $section-spacing 0;
}

.products-banner {
  padding-top: 80px;
}

.products-filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: $heading-content-spacing;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-color;

  &__item {
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;

    transition: all 0.25s linear;
    cursor: pointer;

    &.active {
      color: $red-color;
    }
  }
}
