@import "assets/styles/colors.scss";
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.25s linear;

  &__left {
    display: flex;
    align-items: center;
    width: 70%;
  }

  &__avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
  }

  &__info {
    margin-left: 32px;

    a {
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      color: $red-color;
    }

    p {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 1.4rem;
      color: $gray-text-color;
    }

    span {
      font-size: 1.4rem;
      color: $red-color;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    color: $red-color;
    margin-left: 16px;

    flex-grow: 1;

    span {
      margin-left: 6px;
    }
  }

  &__right {
    span,
    a {
      text-decoration: none;
      color: $white-color;

      transition: all 0.25s linear;
      cursor: pointer;

      &.update {
        background-color: #6d6dfb;

        &:hover {
          background-color: blue;
        }
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        background-color: #ef6161;
      }
    }
  }
}
