@import "assets/styles/colors.scss";
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.25s linear;

  &__left {
    display: flex;
    align-items: center;
    width: 70%;
  }

  &__avatar {
    width: 10rem;
    height: 10rem;
    display: block;
    border-radius: 8px;
    object-fit: cover;
  }

  &__info {
    margin-left: 32px;

    a {
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      color: $red-color;

      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    p {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 1.4rem;
      color: $gray-text-color;

      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    span {
      font-size: 1.4rem;
      color: $red-color;

      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    color: $red-color;
    margin-left: 16px;

    flex-grow: 1;

    span {
      margin-left: 6px;
    }
  }

  &__right {
    span,
    a {
      text-decoration: none;
      color: $white-color;

      transition: all 0.25s linear;
      cursor: pointer;

      &.update {
        background-color: #6d6dfb;

        &:hover {
          background-color: blue;
        }
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        background-color: #ef6161;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .product-item {
    &__left {
      width: 68%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .product-item {
    flex-direction: column;

    &__left {
      width: 100%;
    }

    &__right {
      margin-top: 16px;
      margin-bottom: 18px;

      a,
      span {
        font-size: 1.2rem;
        padding: 8px 12px;
      }
    }

    &__avatar {
      width: 7rem;
      height: 7rem;
    }

    &__info {
      width: 50%;
      margin-left: 16px;
    }
  }
}
