@import "assets//styles/colors.scss";

.product-list {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid $gray-color;

    font-weight: bold;

    h3 {
      font-size: 2.8rem;
      font-weight: 400;
    }

    a {
      color: $red-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  &__content {
    margin-top: 62px;
  }
}

.product {
  margin-top: 24px;
}
