@import "assets//styles/colors.scss";

.product {
  margin-top: 24px;
  transition: all 0.25s linear;
}

.product-list {
  transition: all 0.25s linear;
}

@media only screen and (max-width: 767px) {
  .product-list {
    margin: 0 24px;
  }
}
