@import "assets/styles/colors.scss";
@import "assets/styles/space.scss";

.purchase {
  &__inner {
    padding: $heading-content-spacing 0;
    border-bottom: 1px solid $gray-color;
    border-top: 1px solid $gray-color;
  }

  &__content {
    background: $gray-background-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 30px;
  }

  &__heading {
    h3 {
      color: $blue-color;

      span {
        font-weight: bold;
      }
    }

    p {
      margin-top: 16px;
      font-size: 1.4rem;
      color: $gray-text-color;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .purchase {
    &__inner {
      padding: 32px 0;
    }

    &__heading {
      width: 70%;
    }

    &-section {
      margin-top: 56px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .purchase {
    &__content {
      display: block;

      button {
        margin-top: 12px;
        font-size: 1.2rem;
      }
    }

    &__heading {
      width: 100%;
    }
  }
}
