.about-service {
  display: flex;
  align-items: center;
  height: 100vh;

  background-image: url("../../../../assets/images/service-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
