@import "assets//styles/colors.scss";

.header {
  background-color: $black-color;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;
  transition: all 0.2s linear;

  &__nav {
    padding: 0;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;

    //Container
    div {
      padding: 0;
    }
  }

  &__brand {
    font-size: 2.2rem;
    font-weight: bold;
    color: $white-color;
    text-transform: uppercase;

    &:hover {
      color: $white-color;
    }

    span {
      color: $red-color;
    }
  }

  &__link {
    display: block;
    padding: 28px 8px 10px;
    margin: 0 12px;
    font-size: 1.6rem;

    color: $white-color;
    text-decoration: none;

    transition: all 0.3s linear;

    &.active,
    &:hover {
      color: $white-color;

      padding-bottom: 25px;
      border-bottom: 3px solid $red-color;
    }
  }
}
