@import "./colors.scss";

.button {
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 4px;
  transition: all 0.25s linear;

  border: none;
  outline: none;
  box-shadow: none;
}

.button.button--red {
  background-color: $red-color;

  &:hover {
    background-color: $black-color;
  }
}
