@import "assets/styles/colors.scss";

.banner {
  &__slide {
    position: relative;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: -1;
    background-color: rgba($color: $black-color, $alpha: 0.3);
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;

    object-fit: cover;
    object-position: center;
  }

  &__type {
    text-transform: uppercase;
    color: $red-color;
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__title {
    text-transform: uppercase;
    color: $white-color;
    font-size: 6.2rem;
    font-weight: medium;

    margin-top: 16px;
    letter-spacing: 6px;
  }
}

//Overwrite slick dots
.slick-dots {
  //Dots list container
  //slick-dots -> li (.slick-active) -> button -> button::before
  bottom: 18px;

  li {
    button {
      //Dot
      &::before {
        font-size: 12px;
        color: $white-color;
        &:hover {
          color: inherit;
        }
      }
    }
    &.slick-active {
      button {
        &::before {
          color: $white-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .banner {
    &__title {
      font-size: 3.6rem;
    }

    &__slide {
      height: 500px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    &__title {
      font-size: 1.8rem;
    }

    &__slide {
      height: 300px;
    }

    &__type {
      font-size: 1.8rem;
    }
  }
}
